@import url('https://fonts.googleapis.com/css?family=Ubuntu:wght@400;700&display=swap');
:root{
    --pink: #FC458B;
    --bright-blue: #10ADEE;
    --medium-blue: #007cba;
    --yellow: #f7c100;
    --blue: #00a5de;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg{
    background: url('/images/grand-teton.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}